@import '../../shared-styles/variables';
@import '../../shared-styles/fonts';

.#{projects} {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__project {
    margin: 15px;
    border-bottom: solid 3px #f2f2f2;

    a {
      text-decoration: none;
    }

    h1 {
      padding-top: 5%;
    }
  }
}
