@import '../../shared-styles/variables';
@import '../../shared-styles/fonts';
@import '../../shared-styles/keyframes';

.#{about} {
  margin: 20px;
  margin-top: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  &__content {
    display: flex;
    flex-direction: row;
    padding: 0 180px 0 180px;
  }

  &__image {
    display: none;
    min-width: 42vw;
    height: 80vh;
    background-position: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;

    p {
      padding: 5px;
      font-size: 1.4em;
      opacity: 0.8;
    }
  }

}

@media (max-width: 1050px) {
  .#{about} {
    &__content {
      flex-direction: column-reverse;
      padding: 0 60px 0 60px;
    }

    &__text p {
      padding: 5px;
      font-size: 1.2em;
    }
  }
}

@media (max-width: 500px) {
  .#{about} {
    &__content {
      flex-direction: column-reverse;
      padding: 0;
    }

    &__text  {
      padding: 20px;

      p {
        padding: 5px;
        font-size: 1.2em;
      }
    }
  }
}
