@import '../../shared-styles/variables';
@import '../../shared-styles/fonts';

.about {
  margin: 20px;
  margin-top: 0;
}

.about__content {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.about__image {
  flex-grow: 2;
  min-width: 250px;
  padding: 20px;
}

.about__text {
  padding: 20px;
}
