
@import '../../shared-styles/variables';
@import '../../shared-styles/fonts';

ul {
  margin-top: 10px;
  text-align: center;
  font-family: $h-font-family;
  color: #ffffff;
}

li {
  margin: 10px;
  padding: 10px;
  // border: 1px solid white;
}

a {
  color: #ffffff;
}

.paragraph + .paragraph {
  padding-top: $padding;
}
