
@import '../../shared-styles/variables';
@import '../../shared-styles/fonts';

.homeNav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 80vh;
  margin-top: 10px;
  text-align: center;
  font-family: $h-font-family;
  color: #ffffff;
}

.homeNav a {
  color: #ffffff;
  text-decoration: none;
}

.homeNav__item {
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
}

.homeNav__item a div {
  height: 100%;
}

.homeNav__item h1 {
  padding: 20px;
}

.homeNav__item:hover .homeNav__item_about::before {
  content: "About Me";
}

.homeNav__item:hover .homeNav__item_projects::before {
  content: "My Projects";
}

@media (max-width: 1050px) {
  //flex-direction: column & a lot more
}
