@import '../../shared-styles/keyframes';

.#{footer} {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  &__social {
    padding: 20px;
    transition-property: all;
    transition-duration: .4s;
    transform: translateY(0);

    &:hover {
      transition-property: all;
      transition-duration: .4s;
      transform: translateY(-10px);
    }
  }
}

@media (max-width: 1050px) {
  .footer {
    flex: 1 0 auto;
    //this is a very unprofessional fix but I'm not sure what mobile flex-box is doing
    //TODO: find a better solution
    margin-top: 200px;
  }
}
