@import '../../shared-styles/keyframes';

.#{footer} {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  &__social {
    padding: 20px;
    transition-property: all;
    transition-duration: .4s;
    transform: translateY(0);

    &:hover {
      transition-property: all;
      transition-duration: .4s;
      transform: translateY(-10px);
    }
  }
}
